*{
    margin: 0;
    padding: 0;
}
#logo nav {
    background-color: #0c3bd4;
    display: inline-flex;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 10%);
}
.logosec {
    display: inline-flex;
    vertical-align: middle;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}
#logo {

    text-align: center;

}

.col-sm input {
    border-radius: 8px;
    border-style: none;
    padding: 5px;
    margin: 7px;
    min-width: 350px;
}

.footerimg {
    max-width: 30%;
    padding: 25px;
    margin-left: 10%;
}
